{%  extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Covid.info - About</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: white;
  text-align: center;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 1;
}
</style>
</head>
<body>

<div class="card mt-5 mb-5">
  <img src="https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="John" style="width:100%">
  <h1 style="color: black;">Atharva Katre</h1>
  <p class="title">Developer</p>
  <p class="">This project was my first attempt in learning Exploratory Data Analysis and Visualization.</p>
  <div style="margin: 24px 0;">
    <a href="https://github.com/AtharvaKatre" style="text-decoration: none; font-size: 22px; color: black;"><i class="fa fa-github"></i></a> 
    <a href="https://www.linkedin.com/in/atharva-katre-563639177/" style="text-decoration: none; font-size: 22px; color: black;"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.instagram.com/llatharvall/" style="text-decoration: none; font-size: 22px; color: black;"><i class="fa fa-instagram"></i></a>  
    <a href="https://twitter.com/katre_atharva" style="text-decoration: none; font-size: 22px; color: black;"><i class="fa fa-twitter"></i></a> 
  </div>
  <p><button></button></p>
</div>

</body>
</html>
{%endblock%}
